ul{
    list-style-type: none;
    overflow: hidden ;
    background-color: forestgreen;
    margin: 0px;
    padding: ;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}
li a:hover{
    background-color: black;
}